<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9b760c16-8249-4a9b-b041-945116897303" Alias="Footer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">This is my page</Translation>
    <Translation Language="ta-IN">இது எனது பக்கம்</Translation>
  </Translations>
</Dictionary>