<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4561a2e7-5ec7-4fb2-ac03-cb66890844d7" Alias="Header" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Welcome to my page</Translation>
    <Translation Language="ta-IN">உங்கள் பக்கத்திற்கு வரவேற்கிறேன்</Translation>
  </Translations>
</Dictionary>