<?xml version="1.0" encoding="utf-8"?>
<Content Key="53ce3539-55b6-4ab2-a214-8d71da13f2d4" Alias="Author" Level="2">
  <Info>
    <Parent Key="f153c8db-b496-492d-85c9-76e6011d8628">HomePage</Parent>
    <Path>/HomePage/Author</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2025-06-20T15:16:56</CreateDate>
    <NodeName Default="Author">
      <Name Culture="en-us">Author</Name>
      <Name Culture="ta-in">எழுத்தாளர்</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ta-in">true</Published>
    </Published>
    <Schedule />
    <Template Key="e3ac3f13-6926-4f85-a162-fe05cc84a170">Author</Template>
  </Info>
  <Properties>
    <authorBio>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Prof. Sophia Bennett is a celebrated author of over 15 bestselling novels. With over two decades of experience in creative writing and education, she brings her knowledge to aspiring writers around the world. Her works have been translated into 10+ languages and featured in global literary forums.<br><br></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="ta-in"><![CDATA[{
  "markup": "<p>பேராசிரியர் சோபியா பென்னட் 15க்கும் மேற்பட்ட சிறந்த விற்பனையிலுள்ள நாவல்களை எழுதிய புகழ்பெற்ற எழுத்தாளர் ஆவார். சிருஷ்டி எழுத்து மற்றும் கல்வித்துறையில் இருபது ஆண்டுகளுக்கும் மேலான அனுபவத்துடன், உலகம் முழுவதும் எழுத்தாளராக விரும்பும் மாணவர்களுக்கு தன் அறிவை பகிர்ந்து வருகிறார். அவரது படைப்புகள் 10+ மொழிகளில் மொழிபெயர்க்கப்பட்டு, உலகளாவிய இலக்கிய மாநாடுகளில் இடம்பெற்றுள்ளன.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </authorBio>
    <authorHighlights>
      <Value Culture="en-us"><![CDATA[Published 15 bestselling books
Keynote speaker at TED and Oxford Literary Fest
Over 500,000 copies sold worldwide
Featured in The New York Times and BBC]]></Value>
      <Value Culture="ta-in"><![CDATA[15 சிறந்த விற்பனையிலுள்ள புத்தகங்களை வெளியிட்டுள்ளார்
TED மற்றும் ஆக்ஸ்ஃபோர்டு இலக்கிய விழாவில் பிரதான பேச்சாளர்
உலகம் முழுவதும் 5,00,000 நகல்கள் விற்பனை
The New York Times மற்றும் BBC-இல் சிறப்பாக பரிந்துரைக்கப்பட்டவர்]]></Value>
    </authorHighlights>
    <authorImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e46924c1-9e06-4956-ab00-7c3c1ed16d4f",
    "mediaKey": "ffaa352c-4b39-4914-be24-8c0184422a6f"
  }
]]]></Value>
      <Value Culture="ta-in"><![CDATA[[
  {
    "key": "8a4663c7-c3d4-4ea4-a7b7-e448525cc966",
    "mediaKey": "ffaa352c-4b39-4914-be24-8c0184422a6f"
  }
]]]></Value>
    </authorImage>
    <authorName>
      <Value Culture="en-us"><![CDATA[Prof. Sophia Bennett]]></Value>
      <Value Culture="ta-in"><![CDATA[பேராசிரியர் சோபியா பென்னட்]]></Value>
    </authorName>
    <authorTitle>
      <Value Culture="en-us"><![CDATA[Award-winning Author & Professor of Literature]]></Value>
      <Value Culture="ta-in"><![CDATA[விருதுகள் பெற்ற எழுத்தாளர் & இலக்கிய பேராசிரியர்]]></Value>
    </authorTitle>
  </Properties>
</Content>