<?xml version="1.0" encoding="utf-8"?>
<Content Key="98350535-7cc5-4976-bb52-f96ba40bcccc" Alias="Contact us" Level="2">
  <Info>
    <Parent Key="f153c8db-b496-492d-85c9-76e6011d8628">HomePage</Parent>
    <Path>/HomePage/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2025-06-20T14:46:20</CreateDate>
    <NodeName Default="Contact us">
      <Name Culture="en-us">Contact us</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="75275277-4491-489b-8a13-d1080a551d30">ContactUs</Template>
  </Info>
  <Properties />
</Content>