<?xml version="1.0" encoding="utf-8"?>
<Content Key="f15bad83-9431-41d9-9647-6e2aa6adaf4f" Alias="Custom" Level="2">
  <Info>
    <Parent Key="f153c8db-b496-492d-85c9-76e6011d8628">HomePage</Parent>
    <Path>/HomePage/Custom</Path>
    <Trashed>false</Trashed>
    <ContentType>customData</ContentType>
    <CreateDate>2025-06-30T12:22:34</CreateDate>
    <NodeName Default="Custom" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0443323-b29b-48e5-9717-bbd513cc27dc">CustomData</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "value": "0000ff",
  "label": "0000ff",
  "sortOrder": 2,
  "id": "7"
}]]></Value>
    </backgroundColor>
    <callToActionButtonStyle>
      <Value><![CDATA[[
  "Tertiary"
]]]></Value>
    </callToActionButtonStyle>
    <ctaLabel>
      <Value><![CDATA[Explore Now]]></Value>
    </ctaLabel>
    <ctaUrl>
      <Value><![CDATA[[
  {
    "name": "contact page",
    "url": "/contact",
    "queryString": ""
  }
]]]></Value>
    </ctaUrl>
    <highlightWidget>
      <Value><![CDATA[1]]></Value>
    </highlightWidget>
    <macroContactForm>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </macroContactForm>
    <pageBuilder>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a0982e8cb28744379951c726171c94f3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1e92ea9e059e4b44b70c7e84df047c7d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/dec4644063f74c8f94ac71c4136935db",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2bdde030-2aeb-4abe-bcec-5267354d2eba",
      "udi": "umb://element/a0982e8cb28744379951c726171c94f3",
      "text": {
        "markup": "<p>Get Your Free eBook Now!</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "f6dec6b0-c3ef-4400-8e8c-01b5b23f9b54",
      "udi": "umb://element/1e92ea9e059e4b44b70c7e84df047c7d",
      "quoteBlock": "A lion is always a lion"
    },
    {
      "contentTypeKey": "b7aecd37-6559-45f5-9905-83b6eed37792",
      "udi": "umb://element/dec4644063f74c8f94ac71c4136935db",
      "imageBlock": [
        {
          "key": "a0e230fd-4025-45df-8274-a98bd81efc29",
          "mediaKey": "291dfd86-84fe-4635-b115-5437d497c752"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </pageBuilder>
    <rTEStyles>
      <Value><![CDATA[{
  "markup": "<h2>Hi Team</h2>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rTEStyles>
    <textAlign>
      <Value><![CDATA[center]]></Value>
    </textAlign>
  </Properties>
</Content>