<?xml version="1.0" encoding="utf-8"?>
<Content Key="c622e00e-27ff-428a-8653-346711b40ce5" Alias="Custom v2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CustomV2</Path>
    <Trashed Parent="f153c8db-b496-492d-85c9-76e6011d8628">true</Trashed>
    <ContentType>customData</ContentType>
    <CreateDate>2025-07-04T15:24:12</CreateDate>
    <NodeName Default="Custom v2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0443323-b29b-48e5-9717-bbd513cc27dc">CustomData</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "value": "00ff00",
  "label": "00ff00",
  "sortOrder": 1,
  "id": "6"
}]]></Value>
    </backgroundColor>
    <callToActionButtonStyle>
      <Value><![CDATA[[
  "Primary"
]]]></Value>
    </callToActionButtonStyle>
    <ctaLabel>
      <Value><![CDATA[ Copyrights © 2025 My Sample Website]]></Value>
    </ctaLabel>
    <ctaUrl>
      <Value><![CDATA[[
  {
    "url": "https://localhost:44308/contact"
  }
]]]></Value>
    </ctaUrl>
    <highlightWidget>
      <Value><![CDATA[1]]></Value>
    </highlightWidget>
    <macroContactForm>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </macroContactForm>
    <pageBuilder>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7b7eb17837904d3a98c1f88b1e882e93",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2bdde030-2aeb-4abe-bcec-5267354d2eba",
      "udi": "umb://element/7b7eb17837904d3a98c1f88b1e882e93",
      "text": {
        "markup": "<p>Hi, Welcome to the webste</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </pageBuilder>
    <rTEStyles>
      <Value><![CDATA[]]></Value>
    </rTEStyles>
    <textAlign>
      <Value><![CDATA[center]]></Value>
    </textAlign>
  </Properties>
</Content>