<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a5d255d-12a4-4bbf-aaa4-859978afb894" Alias="Custom v2" Level="2">
  <Info>
    <Parent Key="f153c8db-b496-492d-85c9-76e6011d8628">HomePage</Parent>
    <Path>/HomePage/CustomV2</Path>
    <Trashed>false</Trashed>
    <ContentType>customData</ContentType>
    <CreateDate>2025-07-07T17:39:24</CreateDate>
    <NodeName Default="Custom v2" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0443323-b29b-48e5-9717-bbd513cc27dc">CustomData</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "value": "ff0000",
  "label": "ff0000",
  "sortOrder": 0,
  "id": "5"
}]]></Value>
    </backgroundColor>
    <callToActionButtonStyle>
      <Value><![CDATA[[
  "Secondary"
]]]></Value>
    </callToActionButtonStyle>
    <ctaLabel>
      <Value><![CDATA["Welcome to Our Digital Library"]]></Value>
    </ctaLabel>
    <ctaUrl>
      <Value><![CDATA[[
  {
    "udi": "umb://document/2bc0a5cd8f5a483f892c20a9efc02434"
  }
]]]></Value>
    </ctaUrl>
    <highlightWidget>
      <Value><![CDATA[1]]></Value>
    </highlightWidget>
    <macroContactForm>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </macroContactForm>
    <pageBuilder>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a40795cef4b24b5da76b5f575a2d8e13",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2bdde030-2aeb-4abe-bcec-5267354d2eba",
      "udi": "umb://element/a40795cef4b24b5da76b5f575a2d8e13",
      "text": {
        "markup": "<p>About the Book</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </pageBuilder>
    <rTEStyles>
      <Value><![CDATA[{
  "markup": "<h4>Hi, Users Welcome to our Page</h4>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rTEStyles>
    <textAlign>
      <Value><![CDATA[center]]></Value>
    </textAlign>
  </Properties>
</Content>