<?xml version="1.0" encoding="utf-8"?>
<Content Key="f153c8db-b496-492d-85c9-76e6011d8628" Alias="HomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>main</ContentType>
    <CreateDate>2025-06-20T11:45:19</CreateDate>
    <NodeName Default="HomePage">
      <Name Culture="en-us">HomePage</Name>
      <Name Culture="ta-in">முகப்பு பக்கம்</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ta-in">true</Published>
    </Published>
    <Schedule />
    <Template Key="e906ab25-4c35-4baa-94b7-b6624a25eac7">Main</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/df42ffff757b4ff789a9e8abe03cde39"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fc52cd5c-77e1-447a-8f6e-c232df453b97",
      "udi": "umb://element/df42ffff757b4ff789a9e8abe03cde39",
      "heading": "\"Welcome to Our EBook Platform\"",
      "subheading": "\"Explore, Learn, and Grow with Us.\"",
      "cTALink": [
        {
          "name": "Read Now",
          "url": "https://localhost:44308/the-book",
          "queryString": ""
        }
      ],
      "image": [
        {
          "key": "1dfaaa3f-b0ca-4d55-896f-bc453337fea5",
          "mediaKey": "5c4e1a7a-6af5-406a-99fa-0dc5fa1acb2f"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="ta-in"><![CDATA[]]></Value>
    </contentBlocks>
    <mainHeader>
      <Value Culture="en-us"><![CDATA[Get Your Free eBook Now!]]></Value>
      <Value Culture="ta-in"><![CDATA[இப்போது உங்கள் இலவச eBook-ஐ பெறுங்கள்!]]></Value>
    </mainHeader>
    <subHeader>
      <Value Culture="en-us"><![CDATA[Enter your email to receive instant access to exclusive content.]]></Value>
      <Value Culture="ta-in"><![CDATA[உங்களுக்கான சிறப்பு உள்ளடக்கத்தை உடனடி அணுக எமெயில் ஐடியை உள்ளிடவும்.]]></Value>
    </subHeader>
  </Properties>
</Content>