<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea4831f6-7211-4d6a-8881-3d309d57c637" Alias="review" Level="3">
  <Info>
    <Parent Key="122d797b-9ee4-4ffb-9cb0-6b6b23b0c6c6">Review</Parent>
    <Path>/HomePage/Review/review</Path>
    <Trashed>false</Trashed>
    <ContentType>review</ContentType>
    <CreateDate>2025-06-23T14:40:10</CreateDate>
    <NodeName Default="review">
      <Name Culture="en-us">review</Name>
      <Name Culture="ta-in">review</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ta-in">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <rating>
      <Value Culture="en-us"><![CDATA[5]]></Value>
      <Value Culture="ta-in"><![CDATA[5]]></Value>
    </rating>
    <reviewerName>
      <Value Culture="en-us"><![CDATA[Sophia Hart]]></Value>
      <Value Culture="ta-in"><![CDATA[சோபியா ஹார்ட்]]></Value>
    </reviewerName>
    <reviewerPhoto>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "401b4c8a-0da7-4e35-bdca-4fff0fa8666a",
    "mediaKey": "d129f600-7181-4458-8e4d-71fc528771b3"
  }
]]]></Value>
      <Value Culture="ta-in"><![CDATA[[
  {
    "key": "90c2956d-be21-4a60-b3fd-3977b6841b46",
    "mediaKey": "c8f79f2b-99e6-4d60-a744-2de448976efc"
  }
]]]></Value>
    </reviewerPhoto>
    <reviewQuote>
      <Value Culture="en-us"><![CDATA["Insightful, practical, and well-designed!"]]></Value>
      <Value Culture="ta-in"><![CDATA[ "உணர்வூட்டும், நடைமுறைபூர்வமானதும், நன்றாக வடிவமைக்கப்பட்டதுமானது!"]]></Value>
    </reviewQuote>
  </Properties>
</Content>