<?xml version="1.0" encoding="utf-8"?>
<Content Key="122d797b-9ee4-4ffb-9cb0-6b6b23b0c6c6" Alias="Review" Level="2">
  <Info>
    <Parent Key="f153c8db-b496-492d-85c9-76e6011d8628">HomePage</Parent>
    <Path>/HomePage/Review</Path>
    <Trashed>false</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-20T15:17:16</CreateDate>
    <NodeName Default="Review">
      <Name Culture="en-us">Review</Name>
      <Name Culture="ta-in">விமர்சனம்</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ta-in">true</Published>
    </Published>
    <Schedule />
    <Template Key="ffe74634-b6bf-483d-b4db-24cba9227f78">Reviews</Template>
  </Info>
  <Properties />
</Content>