<?xml version="1.0" encoding="utf-8"?>
<Content Key="df2091e6-2f38-49d9-ad16-ad5a9063918f" Alias="review 2" Level="3">
  <Info>
    <Parent Key="122d797b-9ee4-4ffb-9cb0-6b6b23b0c6c6">Review</Parent>
    <Path>/HomePage/Review/review2</Path>
    <Trashed>false</Trashed>
    <ContentType>review</ContentType>
    <CreateDate>2025-06-23T14:49:04</CreateDate>
    <NodeName Default="review 2">
      <Name Culture="en-us">review 2</Name>
      <Name Culture="ta-in">review 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ta-in">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <rating>
      <Value Culture="en-us"><![CDATA[4]]></Value>
      <Value Culture="ta-in"><![CDATA[4]]></Value>
    </rating>
    <reviewerName>
      <Value Culture="en-us"><![CDATA[Alice Smith]]></Value>
      <Value Culture="ta-in"><![CDATA[அலிஸ் ஸ்மித்]]></Value>
    </reviewerName>
    <reviewerPhoto>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f487128f-e570-4904-8221-4698069a7bca",
    "mediaKey": "aad39076-99bc-4809-8028-65ba40fce437"
  }
]]]></Value>
      <Value Culture="ta-in"><![CDATA[[
  {
    "key": "0068eb75-eada-4bb3-a67d-42424edce4f8",
    "mediaKey": "aad39076-99bc-4809-8028-65ba40fce437"
  }
]]]></Value>
    </reviewerPhoto>
    <reviewQuote>
      <Value Culture="en-us"><![CDATA[“A must-read for every aspiring entrepreneur.”]]></Value>
      <Value Culture="ta-in"><![CDATA["ஒவ்வொரு விரும்பும் தொழில்முனைவோரும் கட்டாயம் படிக்க வேண்டிய ஒரு புத்தகம்."]]></Value>
    </reviewQuote>
  </Properties>
</Content>