<?xml version="1.0" encoding="utf-8"?>
<Content Key="3672f404-674c-4faf-9fdf-5ba76f25c314" Alias="review 3" Level="3">
  <Info>
    <Parent Key="122d797b-9ee4-4ffb-9cb0-6b6b23b0c6c6">Review</Parent>
    <Path>/HomePage/Review/review3</Path>
    <Trashed>false</Trashed>
    <ContentType>review</ContentType>
    <CreateDate>2025-06-23T14:49:50</CreateDate>
    <NodeName Default="review 3">
      <Name Culture="en-us">review 3</Name>
      <Name Culture="ta-in">review 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ta-in">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <rating>
      <Value Culture="en-us"><![CDATA[3]]></Value>
      <Value Culture="ta-in"><![CDATA[3]]></Value>
    </rating>
    <reviewerName>
      <Value Culture="en-us"><![CDATA[Linda Gomez]]></Value>
      <Value Culture="ta-in"><![CDATA[லின்டா கோமேஸ்]]></Value>
    </reviewerName>
    <reviewerPhoto>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b6cc3c76-e007-4601-b24a-39bfdd00640c",
    "mediaKey": "c8f79f2b-99e6-4d60-a744-2de448976efc"
  }
]]]></Value>
      <Value Culture="ta-in"><![CDATA[[
  {
    "key": "33ef0782-2b2a-4f0e-83d4-74829ebbaf8a",
    "mediaKey": "c8f79f2b-99e6-4d60-a744-2de448976efc"
  }
]]]></Value>
    </reviewerPhoto>
    <reviewQuote>
      <Value Culture="en-us"><![CDATA[“Helpful, but missing advanced topics I was expecting.”]]></Value>
      <Value Culture="ta-in"><![CDATA[“உதவியாக இருந்தது, ஆனால் நான் எதிர்பார்த்த முன்னேற்றமான தலைப்புகள் இல்லை.”]]></Value>
    </reviewQuote>
  </Properties>
</Content>