<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c24851b-ee1a-40a6-93cc-ad3fb385310f" Alias="Sample Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SamplePage</Path>
    <Trashed>false</Trashed>
    <ContentType>sample</ContentType>
    <CreateDate>2025-07-08T18:45:37</CreateDate>
    <NodeName Default="Sample Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b1108887-887c-4cac-ba0d-25fd81e4802c">Sample</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<h4>Prof. Sophia Bennett is a celebrated author of over 15 bestselling novels. With over two decades of experience in creative writing and education, she brings her knowledge to aspiring writers around the world. Her works have been translated into 10+ languages and featured in global literary forums.<br><br></h4>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <headerTitle>
      <Value><![CDATA[Umbraco Website]]></Value>
    </headerTitle>
    <mainHeader>
      <Value><![CDATA["Welcome to Our Digital Library"]]></Value>
    </mainHeader>
    <subHeader>
      <Value><![CDATA[This is an image description]]></Value>
    </subHeader>
    <title>
      <Value><![CDATA[ Thanks for visiting this page]]></Value>
    </title>
  </Properties>
</Content>