<?xml version="1.0" encoding="utf-8"?>
<Content Key="09751f86-c797-47cf-a69d-4e6110e5416c" Alias="Thank you" Level="2">
  <Info>
    <Parent Key="f153c8db-b496-492d-85c9-76e6011d8628">HomePage</Parent>
    <Path>/HomePage/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>thankYou</ContentType>
    <CreateDate>2025-07-02T11:51:38</CreateDate>
    <NodeName Default="Thank you" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e918094-76b2-4820-a699-acaa355f7e55">ThankYou</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<p>Your message has been sent successfully. We’ll get back to you soon!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <title>
      <Value><![CDATA[Thank you]]></Value>
    </title>
  </Properties>
</Content>