<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="b527a0bd-157c-4d85-8aef-a5c96cb2dddb" Alias="ebookApplication" Level="0">
  <Info>
    <Name>Ebook Application</Name>
    <ParentType>39eb0f98-b348-42a1-8662-e7eb18487560</ParentType>
    <ChildType>c66ba18e-eaf3-4cff-8a22-41b16d66a972</ChildType>
    <Bidirectional>true</Bidirectional>
    <IsDependency>false</IsDependency>
  </Info>
</RelationType>