<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78c18316-486c-4f04-abb9-9592c13a9533" Alias="Author - authorHighlights - Repeatable textstrings" Level="1">
  <Info>
    <Name>Author - authorHighlights - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 10,
  "Minimum": 1
}]]></Config>
</DataType>