<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a154ebce-37e6-4478-8bda-7b3ff28e922f" Alias="Background Color" Level="2">
  <Info>
    <Name>Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 5,
      "value": "{\"value\":\"ff0000\",\"label\":\"ff0000\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"00ff00\",\"label\":\"00ff00\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"0000ff\",\"label\":\"0000ff\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>