<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b4773fa-31b6-4f5d-bc7c-3e32072f5f40" Alias="Block Quote - Quote Block - Textbox" Level="1">
  <Info>
    <Name>Block Quote - Quote Block - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 120
}]]></Config>
</DataType>