<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58043ba2-889c-4cf5-955f-688a08dec8ef" Alias="Call to the action button" Level="2">
  <Info>
    <Name>Call to the action button</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Primary"
    },
    {
      "id": 2,
      "value": "Secondary"
    },
    {
      "id": 3,
      "value": "Tertiary"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>