<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3536068-783e-4779-982e-a7ae7c04a37b" Alias="Editor Guidelines" Level="2">
  <Info>
    <Name>Editor Guidelines</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>