<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b35b9173-0f8a-40ed-a166-4f410095ac79" Alias="Highlight Widgets" Level="2">
  <Info>
    <Name>Highlight Widgets</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>