<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85ecd1e0-0e0f-4916-88be-3872ce96caa0" Alias="Image - alias - Textbox" Level="1">
  <Info>
    <Name>Image - alias - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>