<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7610a2c2-e11a-457b-8045-6440593b6b97" Alias="Macro Block List" Level="2">
  <Info>
    <Name>Macro Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "63a2c60f-1c60-4b25-87d0-b362e355927b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Macro: {{macroAlias}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>