<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3ed8237-8bf4-4cbb-97b4-29b600652791" Alias="Main - Content Blocks - Block List" Level="1">
  <Info>
    <Name>Main - Content Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>