<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43d9e522-f326-45e0-9f52-0193256bda0a" Alias="Name" Level="2">
  <Info>
    <Name>Name</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>