<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7558abf-2ae1-41dc-ab69-542b9dd79b5d" Alias="Page Blocks" Level="2">
  <Info>
    <Name>Page Blocks</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2bdde030-2aeb-4abe-bcec-5267354d2eba",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "About the below content",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f6dec6b0-c3ef-4400-8e8c-01b5b23f9b54",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Content Quote",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b7aecd37-6559-45f5-9905-83b6eed37792",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image of the content",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "ed887edc-f618-4bb0-b74e-eeb848c7c1cd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Link to the content",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>