<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1fcc3a76-78c0-4cc1-88b8-9f932aa96d81" Alias="Review - Review Quote - Textbox" Level="1">
  <Info>
    <Name>Review - Review Quote - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>