<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffceaf27-cbcd-4599-b14a-3d0b34a1778f" Alias="Sample - Macro picker - Block Grid" Level="1">
  <Info>
    <Name>Sample - Macro picker - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>