<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bd83c08-2d54-42a5-a69e-d063d6e2e818" Alias="The Book - Highlights List - Textbox" Level="1">
  <Info>
    <Name>The Book - Highlights List - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>