<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6dec6b0-c3ef-4400-8e8c-01b5b23f9b54" Alias="blockQuote" Level="2">
  <Info>
    <Name>Block Quote</Name>
    <Icon>icon-block color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+type</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ebcd955b-1309-40f4-8207-2da8fe8d9f7c</Key>
      <Name>Quote Block</Name>
      <Alias>quoteBlock</Alias>
      <Definition>3b4773fa-31b6-4f5d-bc7c-3e32072f5f40</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockContent3">Block Content 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5748470e-e81e-4013-b0e3-977c2ed11656</Key>
      <Caption>Block Content 3</Caption>
      <Alias>blockContent3</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>