<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35d87fd8-c4a1-4509-b35f-a773c8ca3f12" Alias="contactUs" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-old-phone color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>page</Folder>
    <Compositions />
    <DefaultTemplate>ContactUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75275277-4491-489b-8a13-d1080a551d30">ContactUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>