<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0debee6-940e-45dc-a216-942df1791b1b" Alias="main" Level="2">
  <Info>
    <Name>Main</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>page</Folder>
    <Compositions>
      <Composition Key="db59baef-ffeb-4e36-9c76-81015ac190fb">header</Composition>
    </Compositions>
    <DefaultTemplate>Main</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e906ab25-4c35-4baa-94b7-b6624a25eac7">Main</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fbdac265-c22b-4ea4-a723-b533fa7e2a4c" SortOrder="0">author</ContentType>
    <ContentType Key="ebca3d2e-7978-460a-ba77-b258d49ee384" SortOrder="1">reviews</ContentType>
    <ContentType Key="35d87fd8-c4a1-4509-b35f-a773c8ca3f12" SortOrder="2">contactUs</ContentType>
    <ContentType Key="4b3e6337-861b-4097-a25d-eb3d389f91ed" SortOrder="3">customData</ContentType>
    <ContentType Key="06483997-1124-4333-b25b-387aa34abb1a" SortOrder="4">thankYou</ContentType>
    <ContentType Key="895fd7be-466c-4cc2-82e9-12315b856573" SortOrder="5">theBook</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1628caeb-7bf4-4973-afbe-c778503f2734</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>4bc7ddfa-678b-4c2d-b361-31650b732b91</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d03d6412-64a7-494f-9bc4-c793554d59e6</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>