<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebca3d2e-7978-460a-ba77-b258d49ee384" Alias="reviews" Level="2">
  <Info>
    <Name>Reviews</Name>
    <Icon>icon-credit-card color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>page</Folder>
    <Compositions />
    <DefaultTemplate>Reviews</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ffe74634-b6bf-483d-b4db-24cba9227f78">Reviews</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc61f7be-f47e-4b26-8c58-9bf169b6fe70" SortOrder="0">review</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>