<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="895fd7be-466c-4cc2-82e9-12315b856573" Alias="theBook" Level="2">
  <Info>
    <Name>The Book</Name>
    <Icon>icon-book color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>page</Folder>
    <Compositions />
    <DefaultTemplate>TheBook</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f9e52fc-ad7e-4feb-b9c7-b1fd8725b499">TheBook</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2eb4f54-d9c0-4084-9aae-93f4d280ba89</Key>
      <Name>Additional Paragraph</Name>
      <Alias>additionalParagraph</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="header">header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9a7c605-ffec-40c0-ba57-61df0d1edc06</Key>
      <Name>Details Paragraph</Name>
      <Alias>detailsParagraph</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[bookDetails]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>567a8b15-9a55-4011-8e66-8d0c35c954b6</Key>
      <Name>Highlights List</Name>
      <Alias>highlightsList</Alias>
      <Definition>4bd83c08-2d54-42a5-a69e-d063d6e2e818</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[bookHighlights]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header">header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0a1cf6d-a9ba-41a7-bb43-cc1749a14d07</Key>
      <Name>Intro Paragraph</Name>
      <Alias>introParagraph</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[bookIntro]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f979f48e-9ee2-4526-851b-152e4d94f010</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[bookTitle]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6a9a1359-fa76-454c-91f1-2a2bf11d754d</Key>
      <Caption>header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>