<?xml version="1.0" encoding="utf-8"?>
<Domain Key="8602c4a8-0000-0000-0000-000000000000" Alias="https://localhost:44308/review/ta">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ta-IN</Language>
    <Root Key="122d797b-9ee4-4ffb-9cb0-6b6b23b0c6c6">/HomePage/Review</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>