<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e649441d-0000-0000-0000-000000000000" Alias="https://localhost:44308">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="2bc0a5cd-8f5a-483f-892c-20a9efc02434">/HomePage/The Book</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>