<?xml version="1.0" encoding="utf-8"?>
<Domain Key="313354f3-0000-0000-0000-000000000000" Alias="https://localhost:44308/author">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="53ce3539-55b6-4ab2-a214-8d71da13f2d4">/HomePage/Author</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>