<?xml version="1.0" encoding="utf-8"?>
<Domain Key="aa799132-0000-0000-0000-000000000000" Alias="https://localhost:44308/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="f153c8db-b496-492d-85c9-76e6011d8628">/HomePage</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>