<?xml version="1.0" encoding="utf-8"?>
<Macro Key="9a01f1dd-53e9-49d4-a38e-129bdf9dd9ac" Alias="ContactForm" Level="0">
  <Name>Contact Form</Name>
  <MacroSource>~/Views/MacroPartials/ContactForm.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>