<?xml version="1.0" encoding="utf-8"?>
<Macro Key="23d326ed-5a2d-4ac7-bb00-6f64fcd553e1" Alias="MyMacro" Level="0">
  <Name>MyMacro</Name>
  <MacroSource>~/Views/MacroPartials/My Macro.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Message</Name>
      <Alias>descriptionAboutTitle</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextArea</EditorAlias>
    </Property>
    <Property>
      <Name>Title</Name>
      <Alias>name</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>