<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c94385b-1d6c-46cc-9856-2c77dc453f0d" Alias="Book" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/Book</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-25T15:28:01</CreateDate>
    <NodeName Default="Book" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lu2jjddm/book.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>