<?xml version="1.0" encoding="utf-8"?>
<Media Key="d87ed55d-03f4-4284-b4d0-8b5731f96761" Alias="images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-04T12:16:19</CreateDate>
    <NodeName Default="images" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>