<?xml version="1.0" encoding="utf-8"?>
<Media Key="291dfd86-84fe-4635-b115-5437d497c752" Alias="Lion" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/Lion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-03T12:51:52</CreateDate>
    <NodeName Default="Lion" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qd4b0kp4/lion.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>