<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffaa352c-4b39-4914-be24-8c0184422a6f" Alias="Portrait Mature Smiling Authoress Sitting Desk" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/PortraitMatureSmilingAuthoressSittingDesk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T14:26:13</CreateDate>
    <NodeName Default="Portrait Mature Smiling Authoress Sitting Desk" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fi0lv5zz/portrait-mature-smiling-authoress-sitting-desk.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>