<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a983e19-f5ae-434a-9c91-134722a42563" Alias="Portrait Young Redhead Bearded Male" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/PortraitYoungRedheadBeardedMale</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T14:40:03</CreateDate>
    <NodeName Default="Portrait Young Redhead Bearded Male" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d25jrcvo/portrait-young-redhead-bearded-male.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>