<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8f79f2b-99e6-4d60-a744-2de448976efc" Alias="Pretty Blonde Woman" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/PrettyBlondeWoman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T14:40:03</CreateDate>
    <NodeName Default="Pretty Blonde Woman" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fwpppshg/pretty-blonde-woman.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>