<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c4e1a7a-6af5-406a-99fa-0dc5fa1acb2f" Alias="Stack Of Books" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/StackOfBooks</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T11:01:38</CreateDate>
    <NodeName Default="Stack Of Books" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pqne2xhv/stack-of-books.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>