<?xml version="1.0" encoding="utf-8"?>
<Media Key="aad39076-99bc-4809-8028-65ba40fce437" Alias="Studio Portrait Emotional Happy Funny Smiling Boyfriend" Level="2">
  <Info>
    <Parent Key="d87ed55d-03f4-4284-b4d0-8b5731f96761">images</Parent>
    <Path>/images/StudioPortraitEmotionalHappyFunnySmilingBoyfriend</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T14:40:03</CreateDate>
    <NodeName Default="Studio Portrait Emotional Happy Funny Smiling Boyfriend" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ocinhkv2/studio-portrait-emotional-happy-funny-smiling-boyfriend.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>