<?xml version="1.0" encoding="utf-8"?>
<Content Key="310bdd10-4846-4f3d-bb5f-8ca999b6195b" Alias="Custom page V2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CustomPageV2</Path>
    <Trashed>false</Trashed>
    <ContentType>customData</ContentType>
    <CreateDate>2025-07-07T17:22:21</CreateDate>
    <NodeName Default="Custom page V2" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a0443323-b29b-48e5-9717-bbd513cc27dc">CustomData</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "value": "ff0000",
  "label": "ff0000",
  "sortOrder": 0,
  "id": "5"
}]]></Value>
    </backgroundColor>
    <callToActionButtonStyle>
      <Value><![CDATA[[
  "Secondary"
]]]></Value>
    </callToActionButtonStyle>
    <ctaLabel>
      <Value><![CDATA["Welcome to Our Digital Library"]]></Value>
    </ctaLabel>
    <ctaUrl>
      <Value><![CDATA[[
  {
    "udi": "umb://document/2bc0a5cd8f5a483f892c20a9efc02434"
  }
]]]></Value>
    </ctaUrl>
    <highlightWidget>
      <Value><![CDATA[1]]></Value>
    </highlightWidget>
    <macroContactForm>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </macroContactForm>
    <pageBuilder>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4073c2b255ed4bf0b4df66df0e5ee274",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2bdde030-2aeb-4abe-bcec-5267354d2eba",
      "udi": "umb://element/4073c2b255ed4bf0b4df66df0e5ee274",
      "text": {
        "markup": "<p>About the Book</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </pageBuilder>
    <rTEStyles>
      <Value><![CDATA[{
  "markup": "<h4>Hi, Users Welcome to our Page</h4>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rTEStyles>
    <textAlign>
      <Value><![CDATA[center]]></Value>
    </textAlign>
  </Properties>
</Content>